@import "~bootstrap/scss/bootstrap.scss";

.display-3 {
    font-family:fantasy;
    padding: 2rem;
    font-size: 4rem;
    background-image: url("https://images.pexels.com/photos/1478524/pexels-photo-1478524.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
   
}
.principal {
    
    padding: 2 rem;
}
.carru {
width: 100%;
padding: 20% 25%;
padding-top: 0%;

}
.lead {
    margin: 5%;
}
