@import "~bootstrap/scss/bootstrap.scss";


.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;

    
}

.card {
padding: 0.5rem;
align-items: center;
justify-content: center;

}
.card-img-top{
    height: 20rem;
    width: 16rem;
}


.card-body {
    justify-self: center;
}

.btn-primary  {
    background-color:gray;
    border: black;
    margin-left: 50%;
    transform: translateX(-50%);
}


.card-title {
    text-align: center;
    font-size: 1.5rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button.btn-primary {
    align-self: center;
}