@import "~bootstrap/scss/bootstrap.scss";

.display-3 {
    font-family:fantasy;
    padding: 2rem;
    font-size: 4rem;
    background-image: url("https://images.pexels.com/photos/1478524/pexels-photo-1478524.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
   
}
.principal {
    
    padding: 2 rem;
}
.carru {
width: 100%;
padding: 20% 25%;
padding-top: 0%;

}
.lead {
    margin: 2%;
    text-align: center;
    justify-content: center;
    padding: 0%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.capt {
   
    background: transparent;
    background-color: rgba(255, 255, 255, .05);
    backdrop-filter: blur(5px);
    padding: 0%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;

    
}

.card {
padding: 0.5rem;
align-items: center;
justify-content: center;

}
.card-img-top{
    height: 20rem;
    width: 16rem;
}


.card-body {
    justify-self: center;
}

.btn-primary  {
    background-color:gray;
    border: black;
    margin-left: 50%;
    transform: translateX(-50%);
}


.card-title {
    text-align: center;
    font-size: 1.5rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button.btn-primary {
    align-self: center;
}
.nav{
    color: aliceblue;
}